@font-face {
    font-family: Abel;
    src: url(Abel-Regular.ttf);
}

html * {
   font-size: 1em !important;
   color: #000 !important;
   font-family: Abel !important;
}

body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100vw;
    height: 100vh;
}

.background {
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-image: url('svcais_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.layer {
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: #ffffff;
    opacity: 0.7;
}

.logo {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:100px;
}

.footer-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
}

.footer-item {
    position: absolute;
    padding: 0.5em;
}

.footer-item-centered {
    left: 50%;
    transform: translateX(-50%);
}

.footer-item-right {
    right: 0%;
}